<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boku SERVER</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
<![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
  <script src="/static/js/app.js"></script>
</head>

<body>



  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-3">

      <div class='box proportional'>
        <div class='content'>

          <div class="board">
            <div class="background-ui">
              <!-- <div class="up"></div>
              <div class="middle"></div>
              <div class="down"></div> -->
            </div>
            <div id="rc"></div>
          </div>

        </div>
      </div>


    </div>
    <div class="pure-u-1 pure-u-sm-2-3">
      <div style="margin-top:50px">
        <table>
          <thead>
            <tr>
              <td><strong>LOCALPLAYER</strong></td>
              <td><span id="localPlayer"></span></td>
            </tr>
            <tr>
              <td><strong>Turno</strong></td>
              <td><span id="jogador">1</span></td>
            </tr>
            <tr>
              <td><strong>Status</strong></td>
              <td><span id="estado">Aguardando movimento</span></td>
            </tr>
            <tr>
              <td><strong>Numero de movimentos</strong></td>
              <td><span id="movimentos">0</span></td>
            </tr>
            <tr>
              <td><strong>Ultima jogada</strong></td>
              <td><span id="ultima_jogada">{"column":-1,"line":-1}</span></td>
            </tr>

          </thead>
        </table>
        <input type="button" value="Atualizar" style="margin-top:20px" onClick="gameStatus();">
        <input type="button" value="Reiniciar" style="margin-top:20px" onClick="reiniciar();">

        <br>
        <br>
        <br>

        <label for="txtRoom">Novo jogo</label> <br>
        <input type="text" id="txtRoom" placeholder="Nome da sala">
        <input type="text" id="txtPlayerName" placeholder="Nome do jogador">
        <input type="button" id="btnJoin" value="Criar sala" style="margin-top:20px"> <br><br>

        <label for="rooms">Selecione uma sala</label>
        <select name="rooms" id="rooms">
        </select>

      </div>
    </div>
  </div>

</body>

</html>
