#tabuleiro div {
  width: 10px;
  height: 10px;
}

.board {
  position: relative;
}
.background-ui {
  width: 276px;
  height: 345px;
  float: left;
}
.up, .down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 138px 85px 138px;
  border-color: transparent transparent #007bff transparent;
}
.middle {
  background-color: #007bff;
  height: 134px;
}
.down {
  /* width: 0;
  height: 0;
  border-style: solid;
  border-width: 85px 150px 0 150px;
  border-color: #007bff transparent transparent transparent; */
  transform: rotate(180deg);
}
#rc {
  position: absolute;
  /* padding-top: 14px; */
}


.column {
  /* background-color: silver; */
  margin: 0 auto;
  float: left;
}
.line {
  width: 13px;
  background-color: white;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 30px;
  border: solid 1px;
  margin: 12px 5px;
}

.player1 {
  background-color: red;
}
.player2 {
  background-color: green;
}
